*{
    margin: 0;
    padding: 0;
}
.login{
    width: 400px;
    padding: 20px;
    background-color: gray;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}
.login h3{
    color: aquamarine;
    margin-bottom: 30px;
}
.login form label{
    display: inline-block;
    width: 80px;
    font-size: 18px;
    color: #fff;
}
.login form input{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}